.outer-box {
    padding-top: 300px;
    padding-bottom: 300px;
    padding-left: 100px;
    padding-right: 100px;
    overflow: hidden;
}

.inner-box-left{
    float: left;
}

.inner-box-right{
    padding-left: 500px;
}